/* universal styles */
html {
  font-size: 18px;
  line-height: 1.4;
  box-sizing: border-box;
}

 *, *:before, *after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", sans-serif;
}

/*div,
nav  {
  border: 1px solid black;
} */
.container {
  max-width: 100%;
  width: 960px;
  margin: 0 auto;

}

/* main-banner */
.main-banner {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* company header */
header .container {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 1rem;

}



.company-header img {
  height: 1.5rem;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav li {
  display: inline-block;
  padding-right: 2rem;
}

.mobile-nav  {
  display: none;
}

/* slogan */
.slogan {
  width: 45%;
  background-color: white;
  color: black;
  position: relative;
  top: 10rem;
  right: -2rem;
  padding: 1.5rem 5rem 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  float: right;
}

/* icons section */

.icons {
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 8rem;
  margin: 3rem 3rem 0 3rem;
  width: 5rem;
  text-align: center;
}


.icon.exams img {
  width: 3.5rem;

}

.icon.fittings img {
  width: 5rem;
}

.icon.delivery img {
  width: 5rem;
}


/* business info section */
.business-info {
  display: flex;

  justify-content: space-between;
  margin: 3rem 3rem 5rem 2rem;

}

.info {
  width: 35%;
  margin-right: 5%;
}

.info h1 {
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 3rem 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}


/* footer section */
footer {
  display: flex;
  align-items: center;
  background-color: azure;
  width: 100%;
  justify-content: space-between;
}

footer .logo img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* media queries */
@media only screen and (max-width: 1024px) {

    .main-banner {
      height: 22rem;
      background-position: 20%;
    }
    header .container {
      top: 0;
    }
    .slogan {
      top: 5rem;
      padding: 0.75rem 4rem 0.75rem 4rem;
      font-size: 1.33rem;
      line-height: 1.2;
      float: right;
      margin-right: 2rem;
      right: 0;
    }

    .business-info {
      justify-content: center;
      margin: 3.77rem 0 4rem 0;
    }
    .info {
      width: 50%;
    }
}

@media only screen and (max-width: 470px) {



  header .logo span {
    display: none;
  }

  nav ul {

    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }

  .slogan {
    top: 11rem;
    padding: 1rem 0 1rem 0;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    float: none;
  }

  .icons{
    flex-direction: column;
  }

  .business-info {
    flex-direction: column;
    width: 100%;
  }
  .info {
    width: 100%;
    margin: 0;

  }

  .info h1 {
    width: 100%;
    text-align: center;
  }

  .info p {
    margin-bottom: 4rem;
    margin-left: 0.5rem;
  }
}
