/* universal styles */
html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: "Helvetica", sans-serif;
}

div {
  border: 1px solid black;
}
.container {
  max-width: 100%;
  width: 960px;
  margin: 0 auto;
  align-items: center;
}

/* main-banner */
.main-banner {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* company header */
header .container {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;

}

.company-header img {
  height: 1.5rem;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav li {
  display: inline-block;
  padding-right: 2rem;
}

/* slogan */
.slogan {
  width: 50%;
  background-color: white;
  color: black;
  position: relative;
  top: 10rem;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  
}
