/* universal styles */
html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: "Helvetica", sans-serif;
}

div {
  border: 1px solid black;
}
.container {
  max-width: 100%;
  width: 960px;
  margin: 0 auto;

}

/* main-banner */
.main-banner {
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* company header */
header .container {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 1rem 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 1rem;

}

.company-header img {
  height: 1.5rem;

}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav li {
  display: inline-block;
  padding-right: 2rem;
}

/* slogan */
.slogan {
  width: 45%;
  background-color: white;
  color: black;
  position: relative;
  top: 10rem;
  padding: 1.5rem 5rem 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  float: right;
}

/* icons section */

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 8rem;
}
 .icons {
   padding-top: 3rem;
   padding-bottom: 3rem;

 }

.icon.exams img {
  width: 3.5rem;

}

.icon.fittings img {
  width: 5rem;
}

.icon.delivery img {
  width: 5rem;
}


.icon span {
  width: 5rem;
  margin: 0 auto;
}

/* business info section */
.business-info {
  display: flex;

  justify-content: space-between;
  margin: 3rem 3rem 5rem 2rem;

}

.info {
  width 35%;
  margin-right: 5%;
}

.info h1 {
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 3rem 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}

/* footer section */
footer {
  display: flex;
  align-items: center;
  background-color: azure;
  width: 100%;


  justify-content: space-between;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
